@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: 'Roboto','Noto Sans TC','微軟正黑體',sans-serif;
}

a {
  color: #58CBEF;
  font-family: 'Abel','Noto Sans TC','微軟正黑體',sans-serif;
  text-decoration: none;
}

a:hover {
  color: #58CBEF;
  text-decoration: none;
}

.page-wrapper {
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .page-wrapper {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  .page-wrapper {
    padding: 0;
  }
}

.max-w1080 {
  max-width: 1080px;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .max-w1080 {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 575px) {
  .max-w1080 {
    padding: 0 12px;
  }
}

.max-w960 {
  max-width: 960px;
  margin: 0 auto;
}

.max-w800 {
  max-width: 800px;
  margin: 0 auto;
}

.hide-text {
  white-space: nowrapper;
  overflow: hidden;
  text-indent: -1000%;
}

.mt-1em {
  margin-top: 1em;
}

.mb-1em {
  margin-bottom: 1em;
}

.mt-2em {
  margin-top: 2em;
}

.mb-2em {
  margin-bottom: 2em;
}

.por {
  position: relative;
}

.poa {
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .mobilenone {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .grt-mobile-button {
    top: 20px !important;
  }
}

/*..................................................*/
header {
  font-family: 'Abel','Noto Sans TC','微軟正黑體',sans-serif;
}

header .menu-container {
  max-width: 1080px;
  margin: 0 auto;
}

header a.grt-logo img {
  width: 140px;
  margin-top: 20px;
}

.main-container {
  margin: 80px 0 0 0;
}

.hero-banner {
  color: #4A4A4A;
  padding: 80px 0 100px;
  max-width: 1080px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .hero-banner {
    padding: 80px 20px 100px;
  }
}

@media only screen and (max-width: 575px) {
  .hero-banner {
    padding: 80px 12px;
  }
}

.hero-banner h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 1em;
}

@media only screen and (max-width: 575px) {
  .hero-banner h2 {
    font-size: 30px;
    text-align: center;
    margin: .8em 0 .6em;
  }
}

.hero-banner h2 b {
  color: #58CBEF;
  font-weight: 400;
}

.hero-banner p {
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 1em;
}

.hero-banner p i.far {
  margin-right: 1em;
}

.hero-banner p i.fas {
  margin-right: 1.2em;
}

@media only screen and (max-width: 575px) {
  .hero-banner p.web {
    display: none;
  }
}

.hero-banner p.mobile {
  display: none;
}

@media only screen and (max-width: 575px) {
  .hero-banner p.mobile {
    display: block;
    text-align: center;
  }
}

.hero-banner .p_info_mail {
  color: #999999;
  padding-left: 0 0 0 1em;
  margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
  .hero-banner .p_info_mail {
    text-align: center;
  }
}

.hero-banner .p_info_locat {
  color: #999999;
  font-family: 'Abel', '微軟正黑體',sans-serif;
  margin-bottom: 1.2em;
}

@media only screen and (max-width: 575px) {
  .hero-banner .p_info_locat {
    text-align: center;
  }
}

.hero-banner .btn_dlcv {
  color: #ffffff;
  font-weight: 300;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #617696;
  font-family: 'Roboto',sans-serif;
}

.hero-banner .btn_dlcv:hover {
  background-color: #455C7E;
}

@media only screen and (max-width: 575px) {
  .hero-banner .btn_dlcv {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.highlight_work {
  width: 100%;
  background-color: #F2F3F5;
  margin: 0;
  padding: 60px 0;
}

@media only screen and (max-width: 575px) {
  .highlight_work {
    padding: 60px 12px;
  }
}

.highlight_work h5 {
  font-size: 14px;
  color: #666666;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.highlight_work a.workbox {
  width: 100%;
  display: block;
  background-color: #ffffff;
  text-decoration: none;
  color: #4a4a4a;
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 450px;
  width: 100%;
  margin-bottom: 60px;
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 12px;
}

@media only screen and (max-width: 575px) {
  .highlight_work a.workbox {
    height: 400px;
  }
}

.highlight_work a.workbox .maininfo {
  width: 86%;
  margin: 60px auto;
}

.highlight_work a.workbox .maininfo h3 {
  font-size: 30px;
  font-family: 'Roboto','Noto Sans TC','微軟正黑體',sans-serif;
}

.highlight_work a.workbox .maininfo i {
  display: inline-block;
  position: relative;
  margin-left: .6em;
  transition: all 0.4s ease;
}

.highlight_work a.workbox .maininfo.sec {
  margin: 40px auto;
}

.highlight_work a.workbox .maininfo.sec h3 {
  margin-bottom: .6em;
}

.highlight_work a.workbox .maininfo.sec h6 {
  font-weight: 300;
  font-family: 'Noto Sans TC',sans-serif;
  line-height: 1.6;
}

.highlight_work a.workbox .workbox_bg {
  width: 100%;
  height: 80px;
  -webkit-clip-path: polygon(0 0, 100% 75%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 75%, 100% 100%, 0% 100%);
  bottom: 0;
}

.highlight_work a.workbox .workbox_bg.red {
  background-color: #bf0c0c;
}

.highlight_work a.workbox .workbox_bg.green {
  background-color: #00d145;
}

.highlight_work a.workbox .workbox_bg.orange {
  background-color: #ff9900;
}

.highlight_work a.workbox .workbox_bg.blue {
  background-color: #00aeff;
}

.highlight_work a.workbox .workbox_bg_back {
  width: 100%;
  height: 100px;
  -webkit-clip-path: polygon(0 64%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 64%, 100% 0, 100% 100%, 0% 100%);
  bottom: 0;
}

.highlight_work a.workbox .workbox_bg_back.grey {
  background-color: #c1c1c1;
}

.highlight_work a.workbox .work_prod01 {
  width: 235px;
  height: 387px;
  background: url(../images/index-work01.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: -16px;
  bottom: -40px;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 575px) {
  .highlight_work a.workbox .work_prod01 {
    width: 160px;
    height: 263px;
    right: 24px;
    bottom: -50px;
  }
}

.highlight_work a.workbox .work_prod02 {
  width: 436px;
  height: 367px;
  background: url(../images/index-work02.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: -130px;
  bottom: -74px;
  transition: all 0.4s ease;
}

.highlight_work a.workbox .work_prod03 {
  width: 360px;
  height: 209px;
  background: url(../images/index-work03.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: calc(50% - 180px);
  bottom: -10px;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 575px) {
  .highlight_work a.workbox .work_prod03 {
    width: 260px;
    height: 151px;
    left: calc(50% - 130px);
  }
}

.highlight_work a.workbox .work_prod04 {
  width: 370px;
  height: 212px;
  background: url(../images/index-work04.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: calc(50% - 185px);
  bottom: -16px;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 575px) {
  .highlight_work a.workbox .work_prod04 {
    width: 260px;
    height: 139px;
    left: calc(50% - 130px);
    bottom: 0;
  }
}

.highlight_work a.workbox:hover {
  box-shadow: 0 10px 20px #c7cad1;
  transform: translate(0, -5px);
}

.highlight_work a.workbox:hover .maininfo p {
  color: #58CBEF;
}

.highlight_work a.workbox:hover .maininfo i {
  margin-left: 1.2em;
}

.highlight_work a.workbox:hover .work_prod01 {
  width: 250px;
  height: 411px;
  background: url(../images/index-work01.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: -16px;
  bottom: -40px;
}

@media only screen and (max-width: 575px) {
  .highlight_work a.workbox:hover .work_prod01 {
    width: 170px;
    height: 280px;
    right: 24px;
    bottom: -50px;
  }
}

.highlight_work a.workbox:hover .work_prod02 {
  width: 462px;
  height: 389px;
  background: url(../images/index-work02.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: -130px;
  bottom: -74px;
}

.highlight_work a.workbox:hover .work_prod03 {
  width: 400px;
  height: 225px;
  background: url(../images/index-work03.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: calc(50% - 200px);
  bottom: -10px;
}

@media only screen and (max-width: 575px) {
  .highlight_work a.workbox:hover .work_prod03 {
    width: 280px;
    height: 162px;
    left: calc(50% - 140px);
  }
}

.highlight_work a.workbox:hover .work_prod04 {
  width: 400px;
  height: 212px;
  background: url(../images/index-work04.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: calc(50% - 200px);
  bottom: -12px;
}

@media only screen and (max-width: 575px) {
  .highlight_work a.workbox:hover .work_prod04 {
    width: 280px;
    height: 149px;
    left: calc(50% - 140px);
    bottom: 0;
  }
}

.footer {
  width: 100%;
  padding: 30px 0 15px;
  text-align: center;
  background-color: #455C7E;
}

.footer p {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}

/*..ABOUT................................................*/
.about_intro {
  padding: 40px 0 0;
}

@media only screen and (max-width: 575px) {
  .about_intro_img {
    padding: 0 40px;
  }
}

.about_intro_img img {
  max-width: 200px;
}

@media only screen and (max-width: 575px) {
  .about_intro_img img {
    max-width: 100px;
  }
}

.about_intro_text {
  width: 100%;
  padding: 40px 40px 0;
}

@media only screen and (max-width: 575px) {
  .about_intro_text {
    padding: 10px 40px 40px;
  }
}

.about_intro_text h2 {
  width: 241px;
  height: 43px;
  background: url(../images/about-title.png) no-repeat;
  background-size: 100% auto;
}

@media only screen and (max-width: 576px) {
  .about_intro_text h2 {
    width: 100%;
    background: url(../images/about-title.png) no-repeat;
    background-size: 210px auto;
    background-position: right;
  }
}

.about_intro_text hr {
  border: 0;
  width: 100%;
  height: 2px;
  background-color: #dadada;
}

.about_intro_text p {
  font-size: 17px;
  color: #666666;
  font-weight: 300;
  line-height: 1.6;
  margin: 2em 0;
  text-align: justify;
}

@media only screen and (max-width: 575px) {
  .about_intro_text p {
    font-size: 16px;
  }
}

.about_intro_text p.persontag {
  margin: 1em 0 2em;
  color: #58CBEF;
}

.about_intro_text p.persontag b {
  color: #666666;
}

.about_skill {
  padding: 0 0 40px;
}

.about_skill h3 {
  width: 200px;
  height: 36px;
  background: url(../images/about-title2.png) no-repeat;
  background-size: 100% auto;
}

@media only screen and (max-width: 575px) {
  .about_skill h3 {
    margin: 30px 0 0px 20px;
  }
}

.about_skill .skill_container {
  margin: 30px 0;
}

.about_skill .skill_box {
  background-color: #fafafa;
  padding: 30px;
  min-height: 370px;
}

.about_skill .skill_box hr {
  margin-top: 0;
  margin-bottom: 0;
}

.about_skill .skill_box span {
  display: block;
  font-size: 16px;
  color: #58CBEF;
  margin: .2em 0 1em;
  font-weight: 300;
  font-family: 'Roboto',sans-serif;
}

.about_skill h4 {
  font-size: 26px;
  color: #617696;
  margin-bottom: .2em;
}

.about_skill li {
  color: #4a4a4a;
  text-align: justify;
  margin-left: 1em;
  font-weight: 300;
}

.about_exp {
  padding: 0 0 40px;
}

.about_exp h3 {
  width: 200px;
  height: 36px;
  background: url(../images/about-title3.png) no-repeat;
  background-size: 100% auto;
  margin-bottom: 40px;
}

@media only screen and (max-width: 575px) {
  .about_exp h3 {
    margin: 30px 0 40px 20px;
  }
}

.about_exp .exp-wp:before, .about_exp .exp-wp:after {
  content: " ";
  display: table;
}

.about_exp .exp-wp .partner {
  color: #2abfa7;
}

.about_exp .exp-wp .partner b {
  font-weight: bold;
  border-radius: 4px;
  padding: 6px;
  margin-right: .5em;
}

.about_exp .exp-bullet:before {
  content: ' ';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  background-color: #617696;
  z-index: 1;
}

.about_exp .exp-bullet:after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #617696;
  display: block;
  margin-left: 4px;
  top: 10px;
  z-index: 0;
}

.about_exp .exp-bullet.last:before {
  margin-top: 20px;
}

.about_exp .exp-bullet.last:after {
  width: 0px;
}

.about_exp .exp-text {
  margin-bottom: 2em;
}

.about_exp .exp-text .year {
  font-size: 16px;
  color: #91acd6;
  font-weight: 300;
}

.about_exp .exp-text h4 {
  font-size: 24px;
  color: #617696;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.about_exp .exp-text h4 span {
  font-size: 16px;
  font-weight: 300;
  color: #58CBEF;
}

.about_exp .exp-text li {
  color: #4a4a4a;
  text-align: justify;
  font-weight: 300;
  list-style: none;
}

/*..CONTACT................................................*/
.contact-top {
  color: #4A4A4A;
  padding: 80px 0 100px;
  max-width: 1080px;
}

.contact-top h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: .6em;
}

.contact-top p {
  font-size: 17px;
  font-weight: 300;
  line-height: .6;
  color: #666666;
}

@media only screen and (max-width: 900px) {
  .contact-top p {
    line-height: 1.6;
  }
}

.contact-top p.p_social {
  color: #999999;
  font-family: 'Abel','Noto Sans TC','微軟正黑體',sans-serif;
}

.contact-top p i {
  margin-right: .5em;
}

.contact-top p i:nth-child(3) {
  margin-left: 1em;
}

.contact-form {
  margin-top: 30px;
}

.form-border {
  max-width: 300px;
  height: 60px;
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 575px) {
  .form-border {
    max-width: 100%;
  }
}

.form-border span {
  background-color: #ffffff;
  position: absolute;
  top: -12px;
  left: 16px;
  padding: 0 6px;
}

.form-border input {
  width: 96%;
  height: 50px;
  position: absolute;
  bottom: 0;
  padding: 6px 12px 6px 18px;
  border: 0;
  margin: 0 0 0 4px;
  outline: 0 none !important;
}

.form-border:focus {
  border: 0;
}

.form-border2 {
  max-width: 600px;
  height: 240px;
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 575px) {
  .form-border2 {
    width: 93.1%;
    margin: 0 auto 60px;
  }
}

.form-border2 span {
  background-color: #ffffff;
  position: absolute;
  top: -12px;
  left: 16px;
  padding: 0 6px;
}

.form-border2 textarea {
  width: 96%;
  height: 220px;
  position: absolute;
  bottom: 0;
  padding: 6px;
  resize: none;
  border: 0;
  outline: 0 none !important;
}

@media only screen and (max-width: 900px) {
  .form-border2 textarea {
    width: 90%;
    margin: 0 auto;
  }
}

.form-border2:focus {
  border: 0;
  outline: 0 none !important;
}

.contact_btn {
  color: #ffffff;
  font-weight: 300;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #617696;
  font-family: 'Roboto',sans-serif;
  margin: 0 6px;
  cursor: pointer;
}

.contact_btn:hover {
  background-color: #455C7E;
}

.cancel {
  display: inline-block;
  color: #617696;
  background-color: #ffffff;
  border: 1px solid #91acd6;
}

.cancel:hover {
  background-color: #ffffff !important;
  border: 1px solid #617696;
  color: #354763;
}

/*..MyWork................................................*/
.work-tab {
  margin: 120px auto 30px;
  text-align: center;
}

.work-tab span {
  color: #cccccc;
}

.work-tab .tabstyle {
  font-size: 20px;
  color: #cccccc;
  padding: 6px 12px;
  transition: all 0.4s ease;
}

.work-tab .tabstyle.active {
  color: #00aeff;
}

.work-tab .tabstyle:hover {
  color: #4A4A4A;
}

.work-tab .tabstyle:hover.active {
  color: #0099e0;
}

.work-collection {
  padding: 20px 0;
}

.work-web-title {
  width: 381px;
  height: 41px;
  background: url(../images/work-ui-title.png) no-repeat;
  background-size: 100% auto;
  display: block;
  margin: 30px auto;
}

.showcase-content {
  margin: 30px auto 80px;
}

.showcase-box h4 {
  font-size: 16px;
  color: #666666;
  font-family: 'Noto Sans TC','微軟正黑體',sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.4s ease;
}

.showcase-box .case-content {
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-bottom: 8px;
}

.showcase-box .case-content .case-img {
  width: 100%;
  height: 180px;
  transition: all 0.4s ease;
}

.showcase-box:hover h4 {
  color: #58CBEF;
}

.showcase-box:hover .case-img {
  width: 116%;
  margin-left: -8%;
}

.graphic-box {
  padding: 1px;
}

/*..................*/
.work-content-top {
  margin: 80px auto;
  padding: 60px 0;
}

.work-content-top span.note {
  display: block;
  font-weight: 300;
  margin: 2em 0;
  font-size: 16px;
  color: #4a4a4a;
}

.work-content-title {
  margin: 30px 0;
}

.work-content-title h5 {
  font-size: 24px;
  font-weight: 300;
  color: #4a4a4a;
  margin-bottom: 8px;
}

.work-content-title h5 span {
  font-size: 16px;
  color: #58CBEF;
}

.work-content-title span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #999999;
  margin-bottom: 1.6em;
  letter-spacing: 1px;
}

.work-content-title p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1em;
  line-height: 170%;
}

.work-content-title a i {
  font-size: 14px;
  color: #617696;
  padding: 0 1em;
}

.work-content-bottom {
  padding: 30px 0;
}

.work-content-bottom i {
  font-size: 30px;
  color: #999999;
  transition: all 0.4s ease;
}

.work-content-bottom a:hover i {
  color: #617696;
}

.work-content-bottom a img {
  max-width: 120px;
  opacity: .2;
  transition: all 0.4s ease;
}

.work-content-bottom a:hover img {
  opacity: .4;
}

/*............*/
.uiux-content-top {
  margin-top: 0;
  position: relative;
  font-size: 40px;
}

.uiux-content-top .mapp {
  width: 100%;
  height: 5em;
  margin-top: 80px;
  position: relative;
  padding-top: 0;
  background: url(../images/uiux/mapp-herobanner.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.uiux-content-top .title h2 {
  margin-top: 2em;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 0.8;
}

.uiux-content-top .title span {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
}

.uiux-content {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 1.6;
  color: #4a4a4a;
  text-align: justify;
  padding: 30px 30px 50px;
}

.uiux-content hr {
  width: 100%;
  height: 0.5px;
  background-color: #eee;
}

.uiux-content h2 {
  font-size: 36px;
  font-weight: 400;
  color: #F58123;
  padding: .3em 0;
  letter-spacing: 1px;
}

.uiux-content h3 {
  font-size: 24px;
}

.uiux-content h4 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.uiux-content h5 {
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1px;
}

.uiux-content ul {
  padding-left: 2em;
}

.uiux-content ul.comment {
  color: #aaa;
  list-style: none;
  font-size: 26px;
  font-weight: 300;
  font-style: italic;
}

.uiux-content ul.comment li {
  padding-bottom: .3em;
}

.uiux-content ul.comment li b {
  color: #617696;
}

.uiux-content ul.comment li:before, .uiux-content ul.comment li:after {
  content: '“';
}

.uiux-content p.imgnote {
  font-size: 14px;
  padding-top: 1em;
}
